.Image {
  height: 85px;
  width: 85px;
  margin-right: 17px;
  position: relative;
  border-radius: 50%;
  box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.45);
  img {
    border-radius: 50%;
    object-fit: cover;
  }
  &-yours &__addStatus {
    height: 24px;
    width: 24px;
    position: absolute;
    border: 3px solid $green;
    border-radius: 50%;
    right: -7px;
    bottom: 17px;
    background-color: $white;
  }
}
