.menu {
  margin-bottom: 20px;
  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__btn {
    font-family: $sans;
    font-weight: 700;
    font-size: 19px;
    line-height: 1.3;
    border-bottom: 5px solid transparent;
    transition: border-color color 0.5s ease-in;
    border-radius: 3px;
    padding-bottom: 5px;
    &-active {
      border-color: $green;
      color: $green;
    }
  }
}
